<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teste Amil - Ricardo de Freitas Araújo</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default amil_backgroundcolor-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <text class="navbar-brand">Teste Amil</text>
            </div>
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <nav class="navbar navbar-fixed-bottom amil_backgroundcolor-blue">
        <div class="container-fluid">
            <br />
            Desenvolvido por Ricardo de Freitas Araújo - tel: (13) 981279945 - email: ricardo.freitas.araujo@gmail.com
        </div>
    </nav>

    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/controller.js"></script>
</body>
</html>
